/* Source: <filename> */
.real-world {
  margin-bottom: 1.4rem;
  > .os-title {
    color: "#FFFFFF";
    font-family: "Roboto Condensed, StixGeneral";
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    font-weight: normal;
    background-color: "#24739E";
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 0.7rem;
  }
  > .os-note-body {
    font-family: "Noto Sans, StixGeneral";
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: "#D3E3EB";
    padding: 0.7rem;
    > .os-subtitle {
      color: "#344456";
      font-family: "Roboto Condensed, StixGeneral";
      font-size: 1.2rem;
      line-height: 1.5rem;
      font-weight: normal;
      margin-bottom: 0.7rem;
    }
    > [data-type=exercise] {
      > [data-type=problem], > [data-type=solution] {
        h4 {
          font-family: "Noto Sans, StixGeneral";
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
      > [data-type=problem] > .os-problem-container > ul:not([data-labeled-item=true]) {
        margin-left: 8px;
        padding-left: 16px;
      }
    }
  }
}
/* Source: <filename> */
.what-would {
  margin-bottom: 1.4rem;
  > .os-title {
    color: "#000000";
    font-family: "Roboto Condensed, StixGeneral";
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    font-weight: normal;
    background-color: "#D34D32";
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 0.7rem;
  }
  > .os-note-body {
    font-family: "Noto Sans, StixGeneral";
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: "#D6D9DD";
    padding: 0.7rem;
    > .os-subtitle {
      color: "#344456";
      font-family: "Roboto Condensed, StixGeneral";
      font-size: 1.2rem;
      line-height: 1.5rem;
      font-weight: normal;
      margin-bottom: 0.7rem;
    }
    > [data-type=exercise] {
      > [data-type=problem], > [data-type=solution] {
        h4 {
          font-family: "Noto Sans, StixGeneral";
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
      > [data-type=problem] > .os-problem-container > ul:not([data-labeled-item=true]) {
        margin-left: 8px;
        padding-left: 16px;
      }
    }
  }
}
/* Source: <filename> */
.ethics-across {
  margin-bottom: 1.4rem;
  > .os-title {
    color: "#000000";
    font-family: "Roboto Condensed, StixGeneral";
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    font-weight: normal;
    background-color: "#D34D32";
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 0.7rem;
  }
  > .os-note-body {
    font-family: "Noto Sans, StixGeneral";
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: "#D6D9DD";
    padding: 0.7rem;
    > .os-subtitle {
      color: "#344456";
      font-family: "Roboto Condensed, StixGeneral";
      font-size: 1.2rem;
      line-height: 1.5rem;
      font-weight: normal;
      margin-bottom: 0.7rem;
    }
    > [data-type=exercise] {
      > [data-type=problem], > [data-type=solution] {
        h4 {
          font-family: "Noto Sans, StixGeneral";
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
      > [data-type=problem] > .os-problem-container > ul:not([data-labeled-item=true]) {
        margin-left: 8px;
        padding-left: 16px;
      }
    }
  }
}
